[Unit]
Description=Audio/Video Server Server startup
After=network.target

[Service]
ExecStart=/opt/AudioVideo-client-server/avserver/start.sh
WorkingDirectory=/opt/AudioVideo-client-server/avserver
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
