[Unit]
Description=Audio/Video client startup
After=multi-user.target

[Service]
ExecStart=/opt/AudioVideo-client-server/avclient/start.sh
WorkingDirectory=/opt/AudioVideo-client-server/avclient
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
